<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coding Blog</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-stone-900">
        <div class="w-full md:w-3/4 h-24 mx-auto p-8">
            <nav class="w-full h-full flex justify-between items-centers">
                <div class="h-full flex flex-row justify-center items-center">
                    <a href="/" class="flex flex-row justify-center items-center p-4">
                        <div class="flex flex-row rotate-12">
                            <p class="text-cyan-400 text-4xl font-bold">/</p>
                            <p class="text-cyan-400 text-4xl font-bold">/</p>
                        </div>
                        <div class="p-4">
                            <h1 class="text-xl md:text-4xl text-cyan-400">Coding Blog</h1>
                        </div>
                    </a>
                </div>
                <div class="flex justify-center items-center p-4 gap-4">
                    {{#if logged_in}}
                        <div class="flex flex-row">
                            <p class="text-md text-white">Logged in as: </p>
                            <a class="text-lg font-bold text-cyan-400" href="">{{ user.name }}</a>
                        </div>
                        <p class="text-xl text-cyan-400">|</p>
                        <a href="/" class="text-lg font-bold text-cyan-400" id="logout">Logout</a>
                        <script src="/js/logout.js"></script>
                    {{else}}
                        <a href="/login" class="text-lg font-bold text-cyan-400">Login</a>
                    {{/if}}
                </div>
            </nav>
        </div>
        {{{ body }}}
    </body>
</html>