<!-- Log In / Sign Up Screen -->
<div class="w-full h-screen flex justify-center items-center">
    <div class="w-full flex flex-col md:flex-row justify-center items-center">
        <!-- Login Form -->
        <div class="w-full md:w-[35%] lg:w-[30%] h-[550px] flex flex-col justify-center bg-stone-600 rounded-xl shadow-lg shadow-gray-500 m-2 p-8">
            <h1 class="text-6xl text-cyan-400 m-4 pb-4 text-center">Login</h1>
            <form id="login-form">
                <div class="mb-5 pb-4">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-200">Email</label>
                    <input type="email" id="login-email" name="email" class="block w-full p-3 rounded-lg bg-gray-200 border border-transparent focus:outline-none" required />
                </div>
                <div class="mb-5 pb-4">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-200">Password</label>
                    <input type="password" id="login-password" name="password" class="block w-full p-2 rounded-lg bg-gray-200 border border-transparent focus:outline-noen" required />
                </div>
                <button type="submit" class="w-full p-3 mt-4 bg-cyan-600 text-white rounded shadow">Login</button>
            </form>
        </div>
        <!-- Sign Up Form -->
        <div class="w-full md:w-[35%] lg:w-[30%] h-[550px] flex flex-col justify-center bg-stone-600 rounded-xl shadow-lg shadow-gray-500 m-2 p-8">
            <h1 class="text-6xl text-cyan-400 m-4 pb-4 text-center">Sign Up</h1>
            <form id="signup-form">
                <div class="mb-5">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-200">Name</label>
                    <input type="text" id="signup-name" name="name" class="block w-full p-3 rounded-lg bg-gray-200 border border-transparent focus:outline-none" required />
                </div>
                <div class="mb-5">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-200">Email</label>
                    <input type="email" id="signup-email" name="email" class="block w-full p-3 rounded-lg bg-gray-200 border border-transparent focus:outline-none" required />
                </div>
                <div class="mb-5">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-200">Password</label>
                    <input type="password" id="signup-password" name="password" class="block w-full p-2 rounded-lg bg-gray-200 border border-transparent focus:outline-noen" required />
                </div>
                <div class="mb-5">
                    <button type="submit" class="w-full p-3 mt-5 bg-cyan-600 text-white rounded shadow">Sign Up</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>